<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "green",
            },
          },
        },
      };
    </script>
    <style></style>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
      .container {
        width: 400px;
        /* background-color: ; */
      }
      .info-image__wrapper {
        height: 200px;
      }
    </style>
  </head>
  <body>
    <div class="container mx-auto p-2">
      <div>
        <a class="flex items-center mb-2" href="mosques.html">
          <svg
            class="h-6 w-6 text-blue-500 mr-1"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
          </svg>
          Orqaga</a
        >
        <div class="max-w-sm rounded overflow-hidden">
          <!-- <img
            class="w-full"
            src="./images/mosque-img-example.jpg"
            alt="Sunset in the mountains"
          /> -->
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Xoja Ahror Valiy</div>
            <p class="text-gray-700 text-base mb-4">
              Khoja Ahror Valiy mosque is a mosque in Tashkent, Uzbekistan. Also
              known as the Jama or Dzhuma Mosque, it was built in 1451 by Sheikh
              Ubaydullo Khoja Akhror.
            </p>
            <p class="font-medium mb-2">
              Manzil: <span class="text-gray-700 ml-1">Chorsu, Toshkent</span>
            </p>
            <p class="font-medium mb-2">
              Phone: <span class="text-gray-700 ml-1">8 71 242 23 88</span>
            </p>
            <p class="font-medium mb-2">
              Admin: <span class="text-gray-700 ml-1">Kimsan</span>
            </p>
            
          </div>
          <div class="px-6 pt-4 pb-2">
            <a
              href="tel: +998950371322"
              class="flex justify-center text-purple-500 cursor-pointer px-2 py-3 my-2 border border-purple-500 rounded"
              >
              E'lonlar</a
              >
            <a
              href="tel: +998950371322"
              class="flex justify-center hover:opacity-90 text-white cursor-pointer px-2 py-3 my-2 bg-gradient-to-tr from-purple-500 to-green-300 rounded"
              >
              Qo'ngiroq qilish</a
              >
              <!-- <span
                class="inline-block bg-blue-500 text-white cursor-pointer px-2 py-1 rounded-full"
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >#travel</span
            > -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
